body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
/* Style cho ô tìm kiếm */
.search-bar {
    position: relative;
    padding: 8px;
    width: 300px;
    padding-left: 15px;
}

/* Style cho khung gợi ý */
.suggestions-box {
    position: absolute;
    top: 40px; /* Đẩy khung gợi ý thấp hơn khung tìm kiếm */
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style cho từng mục gợi ý */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

/* Màu nền khi hover */
.suggestion-item:hover {
    background-color: #f0f8ff;
}

/* Màu nền khi được chọn */
.suggestion-item.selected {
    background-color: #e6f7ff;
    color: #007bff;
}
.avatar-preview {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    cursor: pointer;
}

.avatar-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container h2 {
    color: #333;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    font-weight: 600;
    color: #555;
    text-align: left;
    margin: 10px 0 5px;
}

input[type="email"],
input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f3f3f3; /* Màu nền cho input email không thể sửa */
}

input:focus {
    border-color: #ff6419;
}

button {
    padding: 10px;
    background-color: #ff6419;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #e55d1d;
}

#message {
    margin-top: 15px;
    font-size: 14px;
}
