<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="../Css/ForgetPassword.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Quên mật khẩu</h2>
            <form id="resetPasswordForm" class="input-group">
                <label for="reset-email">Nhập email của bạn:</label>
                <input type="email" id="reset-email" placeholder="Nhập email" required>
                <button type="submit" class="submit-btn">Gửi yêu cầu đặt lại mật khẩu</button>
            </form>
            <div class="back-link">
                <a href="SignUp.html">Quay lại trang đăng nhập</a>
            </div>
        </div>
    </div>

    <script src="../Js/SignUp.js"></script>
    <script type="module" src="../Js/firebase_auth.js"></script>
</body>
</html>
